# Root requirements.txt for Docker build
# Add any global Python dependencies here
# You can also reference service requirements as needed
Django>=4.2
psycopg2-binary
gunicorn
pytest
celery
django_extensions
python-dotenv
