# Root requirements.txt for Docker build
# Add any global Python dependencies here
# You can also reference service requirements as needed
Django>=4.2
psycopg2-binary
gunicorn
pytest
celery
django_extensions
python-dotenv
azure-storage-blob
celery
channels
channels-redis
daphne
django
django-cors-headers
django-extensions
django-filter
django-redis
djangorestframework
gunicorn
opentelemetry-instrumentation-django
opentelemetry-sdk
psycopg2-binary
pytest
pytest-cov
pytest-django
python-dotenv
whitenoise
cryptography
pyjwt
redis
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-requests
joblib
numpy
pandas
scikit-learn
factory-boy
